

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Campaigns</th>
            <th>Spent, $</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Joel Anderson</td>
            <td>ProPeak</td>
            <td>6</td>
            <td>20,852</td>
            <td></td>
        </tr>
        <tr>
            <td>Marcus Sullivan</td>
            <td>Etero</td>
            <td>11</td>
            <td>28,745</td>
            <td></td>
        </tr>
        <tr>
            <td>Aiden Mitchell</td>
            <td>Emagnum</td>
            <td>9</td>
            <td>19,820</td>
            <td></td>
        </tr>
        <tr class="table-active">
            <td>Isabella Donovan</td>
            <td>Project Pulse</td>
            <td>8</td>
            <td>35,214</td>
            <td><i class="fas fa-ellipsis-h"></i></td>
        </tr>
    </tbody>
</table>