.card-link {
    cursor: pointer; /* Deixa o mouse em formato de mãozinha */
    text-decoration: none;
    color: inherit;
  }

#buttonAddNew
{
  background-color: #B32416;
  color: white;
}

#buttonExcluir
{
  background-color: #B32416;
  color: white;
}